.articles {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .articles {
    flex-direction: row;
  }

  .big-card {
    width: 50%;
  }

  .small-cards {
    width: 50%;
  }
}
