.navbar {
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
}

.menu-list {
  display: none;
}

.menu-social-media {
  display: none;
}

@media (min-width: 1008px) {
  .navbar {
    align-items: center;
  }

  .menu-icon {
    display: none;
  }

  .menu-list {
    display: flex;
    list-style: none;
    margin-left: 1rem;
  }

  .menu-item {
    margin-left: 2rem;
    text-transform: uppercase;
		text-decoration: none;
    font-size: 1rem;
    color: #505050;
    cursor: pointer;
  }

	.menu-item a {
		color: #505050;
		text-decoration: none;
		transition: 0.3s;
	}

	.menu-item a:hover {
		color: #f2f2f2;
	}

  .menu-social-media {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
}
