<nav class="navbar">
  <img
    class="profile-pic"
    src="../../../assets/profile-social.jpeg"
    alt="Foto de perfil do usuário"
  >
  <img class="menu-icon" src="../../../assets/menu-list.svg" alt="Menu">

  <ul class="menu-list">
    <li class="menu-item">Inicio</li>
    <li class="menu-item">Games</li>
    <li class="menu-item">Filmes</li>
    <li class="menu-item">Séries</li>
    <li class="menu-item">Noticias gerais</li>
  </ul>

  <div class="menu-social-media">
    <img src="../../../assets/linkedin-logo.svg" alt="Logo do LinkedIn">
    <img src="../../../assets/github-logo.svg" alt="Logo do GitHub">
  </div>
</nav>
